body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
}


h1 {
    color: #af894c; /* 標題的文字顏色 */
    font-size: 28px; /* 標題的字體大小 */
    text-align: center; /* 文字置中 */
    margin-top: 5px; /* 上邊距 */
    margin-bottom: 5px; /* 下邊距 */
    font-family: 'Courier New', monospace; /* 使用等寬字體 */
}


.input-group {
    margin: 10px 0;
}

button {
    background-color: #afaf4c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #98a045;
}

#progress-bar-container {
    width: 100%;
    background-color: #eee;
    border-radius: 8px;
    margin-top: 10px;
}

#progress-bar {
    height: 20px;
    background-color: #af724c;
    width: 0%;
    border-radius: 8px;
}

.floating-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.floating-buttons button {
    padding: 20px 20px;
    margin: 5px;
    font-size: 16px;
    background-color: #008CBA;
}

.floating-buttons button:hover {
    background-color: #007B9A;
}


#stage-display {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

#stage-info div {
    margin: 5px 0;
    font-size: 16px;
}

#stage-name {
    color: #4CAF50; /* 綠色 */
}

#water-amount {
    color: #2196F3; /* 藍色 */
}

#flow-rate {
    color: #FF9800; /* 橙色 */
}


#brewing-method {
    background-color: #f2f2f2; /* 設置背景色 */
    color: #333; /* 文字顏色 */
    padding: 10px; /* 內部填充 */
    border: 1px solid #ddd; /* 邊框 */
    border-radius: 5px; /* 邊框圓角 */
    font-size: 16px; /* 字體大小 */
    margin: 10px 0; /* 上下邊距 */
}

.coffee-setup {
    font-family: 'Courier New', monospace; /* 使用等寬字體 */
    color: #333; /* 黑色或深灰色文字 */
    background-color: #f5f5f5; /* 淺灰色背景 */
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

.coffee-setup p {
    margin: 10px 0;
}

.coffee-setup a {
    color: #4CAF50; /* 綠色連結 */
    text-decoration: none;
}

.coffee-setup a:hover {
    text-decoration: underline;
}


#keep-awake-video {
    display: display;
    size: 10px 10px;
}